@mixin fullabsolute($left,$top,$w,$h,$zindex) {
    position: absolute;
    left: $left;
    top: $top;
    z-index: $zindex;
    @include size($w, $h);
}

/*Common setting for all page*/
html, body {
    width: 100%;
    height: 100%;
}

//for preload
.preload {
    @include fullabsolute(0, 0, 100%, 100%, 10);
    .logo {
        padding-top: 3.8rem;
        margin: 0 auto;
    }
    .progress {
        margin-top: 0.6rem;
        font-size: 0.68rem;
        color: #524238;
        text-align: center;
    }
    .tips-audio {
        position: absolute;
        @include size(5.81rem, 0.61rem);
        bottom: 0.8rem;
        left: 50%;
        margin-left: -2.9rem;
        color: #524238;
        text-align: center;
    }
}

.logo {
    @include size(3.28rem, 2.43rem);
}

//for terms-pop
.terms-pop {
    background: transparent;
    .inner {
        @include size(7.5rem, 10.79rem);
        background: url("../images/pop-bg.png") no-repeat;
        background-size: 100%;
        box-sizing: border-box;
        padding-top: 1rem;
    }
    .title {
        background: transparent;
        color: #9eaee5;
        font-size: 0.52rem;
        padding: 0;
    }
    .pcontent {
        text-align: center;
        margin: 0;
        padding: 0;
        .subtitle {
            display: inline-block;
            background: #a5a8e0;
            color: #fff;
            font-size: 0.3rem;
            font-weight: normal;
            padding: 0.04rem 0.2rem;
            border-radius: 5px;
            margin-bottom: 0.1rem;
        }
        .des {
            color: #6b6b6b;
            font-size: 0.24rem;
            line-height: 1.8;
        }
        .product-name {
            color: #6b6b6b;
            font-size: 0.22rem;
        }
    }
    .btn-close {
        top: auto;
        bottom: 1rem;
        left: 50%;
        background: #9eaee5;
        border-radius: 100%;
        @include size(0.6rem, 0.6rem);
    }
}

.pin {
    opacity: 0;
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    @include size(100%, 100%);
    box-sizing: border-box;
    overflow: hidden;
    @include transition(opacity 1s);
    //display: none;
    &.current {
        display: block;
        opacity: 1;
        z-index: 1;
    }
}

.btn {
    text-align: center;
    display: block;
    width: 4.12rem;
    height: 1.22rem;
    line-height: 1.22rem;
    margin: 0 auto;
    background: #8b807a;
    color: #fff;
    font-size: 0.6rem;
    box-sizing: border-box;
    border-radius: 3px;
}

// show different block for landscape and portrait
@media all and (orientation: landscape){
  .portrait-scope{
    display: none;
  }
  .wrapper{
    display: block;
  }
}
@media all and (orientation: portrait){
  .portrait-scope{
    display: block;
  }
  .wrapper{
    display: none;
  }
}

//for portrait-scope
.portrait-scope{
  .v-content{
    width: 80vw;
  }
}


//for wrapper
.wrapper {
    opacity: 0;
    @include fullabsolute(0, 0, 100%, 100%, 1);
    background: #000;
    color: #fff;
}

//for pin-animate
#pin-animate{
  .v-content{

  }
  .progress{
    position: absolute;
    z-index: 2;
    top: 5.9rem;
    left: 5.1rem;
    @include size(8.48rem,0.56rem);
    //-webkit-mask: url(https://mdn.mozillademos.org/files/12676/star.svg);
    .mask{
      opacity: 0.4;
      //background: url("../images/progress-bar.png") no-repeat;
      //background-size: 100%;
      @include fullabsolute(0,0,100%,100%,2);
      -webkit-mask: url("../images/mask.png");
      -webkit-mask-size: auto 100%;
      -webkit-mask-position: 100% 0;
      &.move{
        @include animation(moveMask 1.2s steps(15) 1 forwards);
      }
      @keyframes moveMask {
        0%{
          opacity: 0.4;
          -webkit-mask-position: 100% 0;
        }
        100%{
          opacity: 1;
          -webkit-mask-position: 0% 0;
        }
      }
    }
    img{
      //display: none;
      @include size(8.48rem,0.56rem);
    }
  }
  .p1-2{
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 13.3rem;
    top: 3.4rem;
    @include size(3.28rem,3.27rem);
    animation-delay: 500ms;
  }
  .ani-block{
    opacity: 0;
    position: relative;
    //left: 0;
    //top: 0;
    z-index: 1;
    @include size(22.08rem,10.86rem);
    //height: 100vh;
    width: auto;
    background: url("../images/P2-BG_00040.jpg") no-repeat;
    background-size: 100%;
    animation-delay: 1200ms;
    img{
      height:100%;
      width: auto;
    }
  }
  .content{
    opacity: 0;
    position: absolute;
    width: 7.6rem;
    height: .7rem;
    left: 5.4rem;
    top: 4.7rem;
    overflow: hidden;
    z-index: 3;
    background: red;
    .words{
      position: absolute;
      width: 100vw;
      &.active{
        @include animation(lefttoright 8s linear infinite);
      }
      @include keyframes(lefttoright){
        0%{
          @include transform(translateX(0%));
        }
        100%{
          @include transform(translateX(-100%));
        }
      }
    }
  }
}
